<html>
<head><title>All Categories</title></head>
<body>

<% if Helpers.is_logged_in?(@sessionName) %>  
  Existing Categories
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>

  <form method="post" action="/categories/edit">
    <input id="hidden" type="hidden" name="_method" value="patch">
  <% @categories.each do |cat|%>
      <input type="hidden" name="category[][id]" value="<%= cat.id %>">
      <input type="text" name="category[][name]" value="<%= cat.category_name %>"><br/>
  <% end %>
      <input type="submit" value="Modify Categories">
  </form>

  Add a Category
  <form method="post" action="/categories/add">
  <p>
  <label for="category_name">Category Name</label><br/>
  <input type="text" name="category_name"><br/>
  </p>
  <input type="submit" value="Submit Category">
  </form>

<% end %>
</body>
</html>
