<html>
<head><title>All Categories</title></head>
<body>
Existing Categories
<% Category.all.each do |cat|%>
    <%= cat.category_name %><br/>
<% end %>

Add a Category
<form method="post" action="/categories">
<p>
<label for="category_name">Category Name</label><br/>
<input type="text" name="category_name"><br/>
</p>
<input type="submit" value="Submit Category">
</form>
</body>
</html>