  <h1>Manage Categories</h1>

  <p>Existing Categories</p>

  <form method="post" action="/categories/edit">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <% Category.create_category_if_empty(@sessionName) %>
  <% @categories.each do |cat|%>
      <input type="hidden" name="category[][id]" value="<%= cat.id %>">
      <input type="text" name="category[][name]" value="<%= cat.category_name %>"><br/>
  <% end %>
      <input type="submit" value="Modify Categories">
  </form>

  <p>Add a Category</p>
  <form method="post" action="/categories/add">
  <p>
  <label for="category_name">Category Name</label><br/>
  <input type="text" name="category_name"><br/>
  </p>
  <input type="submit" value="Submit Category">
  </form>

 <p><a href="/categories/show">Delete Categories</a></p>
