<html>

<form method="post" action="">
<label for="expense_date">Expense Date:</label>
<input type="text" name="expense_date"><br/>

<label for="expense_amount">Amount:</label>
<input type="text" name="expense_amount"><br/>

<label for="expense_description">Description:</label>
<input type="text" name="expense_description"><br/>

<input type="submit" value="Enter Expense">
</form>

</html>