<html>

<% if Helpers.is_logged_in?(@sessionName) %>

  <p>Expense Added</p>
  <%= @expense.amount %><br/>
  <%= @expense.date %><br/>
  <%= @expense.description %><br/>
  <%= @expense.merchant %><br/>
  <a href="/expenses">View all Expenses</a>

<% end %>
</html>
