body {
  background-color: violet;
  font-family: Sans-Serif;
  text-align:center;
/*  width: 100%; */
/*  padding: 0; */
/*  border: 0;*/
/*  margin: 0px 25% 0px 25%; */
margin: 0px 0px 0px 200px;
}

#head-title {
  font-family: Times New Roman, Serif;
  font-weight: bold;
  font-size: 22px;
}

#content {
  background-color: white;
  position: relative;
  align:middle;
  width:80%;
  text-align: left;
}

#flash_message {
  font-style: italic;
  color: red;
  position: relative;
  margin: 5pt;
}

.navbar {
  overflow: hidden;
  background-color: grey;
  font-family: Arial;
  margin: 0;
  overflow: hidden;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  padding: 0px;
}

.navbar a:hover, .dropdown:hover {
  background-color: blue;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  padding: 0px;
  margin: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.text {
  padding: 5px;
  position: relative;
}


/* Used to display tables for data expenses */

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
  padding: 8px;
  background-color: blue;
}

td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}
