  <h1>Add a budget</h1>

  <form method="post" action="/budgets/add">
    <% Category.create_category_if_empty(@sessionName) %>
    <select name="budget[category]">
      <% Category.categories_of_user(@sessionName).each do |cat| %>
        <option value="<%= cat.id %>"><%= cat.category_name %></option>
      <% end %>
    </select>

    <label for="budget[amount]">Amount:</label>
    <input type="number" step="any" name="budget[amount]"><br/>

    <label for="budget[rollover]">Rollover?</label>
    <input type="radio" name="budget[rollover]" value=True>Yes
    <input type="radio" name="budget[rollover]" value=False checked>No<br/>

    <input type="submit" value="Submit">
  </form>
