 <p>Edit a budget</p>

  <form method="post" action="/budgets/<%= @budget.id %>/edit">
    <input id="hidden" type="hidden" name="_method" value="patch">
    You are editing the budget for '<%= Category.find(@budget.category_id).category_name %>'<br/>

    <label for="budget[amount]">Amount:</label>
    <input type="number" step="any" name="amount" value="<%= @budget.amount %>"><br/>

    <input type="submit" value="Update">
  </form>
