  <p>Current Budget Limits:</p>

  <% if @budgets.empty? || @budgets.nil? %>
    <p>
    No Budgets Set<br/>
   </p>
  <% end %>

  <% @budgets.each do |b| %>
  <p>
    <% Category.create_category_if_empty(@sessionName) %>
    Category Name: <%= Category.find(b.category_id).category_name %><br/>
    Category Budget Amount: <%= b.amount %><br/>
    Rollover This Amount Month to Month: <%= b.rollover %><br/>
    <a href="/budgets/<%= b.id %>/edit">Edit</a>
  </p>
  <% end %>
  <a href="/budgets/add">Add a budget?</a>
