<% if Helpers.is_logged_in?(@sessionName) %>

  <p>Current Budget Limits:</p>

<% binding.pry %>
  <% if @budgets.empty? || @budgets.nil? %>
    <p>
    Budgets not entered<br/>
   </p>
  <% end %>

  <% @budgets.each do |b| %>
  <p>
    <% Category.create_category_if_empty(@sessionName) %>
    Category Name: <%= Category.find(b.category_id).category_name %><br/>
    Category Budget Amount: <%= b.amount %><br/>
  </p>
  <a href="/budgets/add">Add a budget?</a>
  <% end %>
<% end %>
