
<p>Welcome! What would you like to do?</p>

<h3>Log In</h3>
<form method="post" action="/login">
  Username: <input type="text" name="username"><br/>
  Password: <input type="password" name="password"><br/>
  <input type="submit" value="submit" name="Submit"><br/>
</form>

<p>
<a href="expense">Enter an expense</a> |
<a href="categories">Manage Categories</a><br/> |
<a href="budgets">Budgets</a><br/>
</p>
