
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>

<h3>Log In</h3>
<form method="post" action="/login">
  Username: <input type="text" name="username" placeholder="Username"><br/>
  Password: <input type="password" name="password" placeholder="Password"><br/>
  <input type="submit" value="Log In" name="submit"><br/>
</form>

<p>Don't have an account? <a href="/signup">Sign up</a> for an account!
