<html>
<head><title>Easy Budget</title>
<link rel="stylesheet" type="text/css" href="<%= url('/styles.css') %>">
</head>
<body>

  <div id="content">
    <p><img src="<%= url('/logo.png') %>"></p>
    <h1>Welcome to PiggyEasyBudget!</h1>

    <% if flash.has?(:message) %>
      <p id="flash_message"><%= flash[:message] %></p>
    <% end %>

    <div class="text">
      <%= yield %>
    </div>
  </div>
</body>
</html>
