<html>
<head><title>PiggyEasyBudget</title>
  <link rel="stylesheet" type="text/css" href="<%= url('/styles.css') %>">
</head>
<body>
<% if is_logged_in? %>

  <div id="content">
    <p><img src="<%= url('/logo.png') %>"></p>
    <div class="navbar">
      <a href="/account">Home</a>
      <div class="dropdown">
        <button class="dropbtn">
          <a href="/expenses">Manage Expenses</a>
        </button>
        <div class="dropdown-content">
            <a href="/expenses/new">Add a new expense</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">
          <a href="/categories">Manage Categories</a>
        </button>
        <div class="dropdown-content">
          <a href="/categories/delete">Delete Categories</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">
          <a href="/budgets">Manage Budgets</a>
        </button>
        <div class="dropdown-content">
          <a href="/budgets/new">Add a budget</a>
        </div>
      </div>
      <a href="/logout">Log Out</a>
    </div>

    <% if flash.has?(:message) %>
      <p id="flash_message"><%= flash[:message] %></p>
    <% end %>

    <div class="text">
      <%= yield %>
    </div>
  </div>
<% end %>
</body>
</html>
