<html>
<head><title></title>
  <link rel="stylesheet" type="text/css" href="<%= url('/styles.css') %>">
</head>
<body>
<% if Helpers.is_logged_in?(@sessionName) %>
  <div id="text-layer">
  <% if flash.has?(:message) %>
    <div id="flash_message"><%= flash[:message] %></div>
  <% end %>

  <%= yield %>

  <p>
  <a href="/account">Home</a> |
  <a href="/expense">Manage Expenses</a> |
  <a href="/categories">Manage Categories</a> |
  <a href="/budgets">Manage Budgets</a>
  </p>

  <a href="/logout">Log Out</a>
  </div>
<% end %>
</body>
</html>
