<html>
<head><title>Easy Budget</title>
<link rel="stylesheet" type="text/css" href="<%= url('/styles.css') %>">
</head>
<body>


<div id="text-layer">
  <% if flash.has?(:message) %>
    <div id="flash_message"><%= flash[:message] %></div>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
