<html>
<head><title></title>
  <link rel="stylesheet" type="text/css" href="<%= url('/styles.css') %>">
</head>
<body>
<% if Helpers.is_logged_in?(@sessionName) %>
  <div id="text-layer">
  <% if flash.has?(:message) %>
    <div id="flash_message"><%= flash[:message] %></div>
  <% end %>

  <%= yield %>

  <div class="navbar">
    <a href="/account">Home</a>
    <div class="dropdown">
      <button class="dropbtn">
        <a href="/expense">Manage Expenses</a>
      </button>
      <div class="dropdown-content">
          <a href="/expense/add">Add a new expense</a>
          <a href="/expense/select">Edit expenses</a>
      </div>
    </div>
    <a href="/categories">Manage Categories</a>
    <a href="/budgets">Manage Budgets</a>
    <a href="/logout">Log Out</a>
  </div>
<% end %>
</body>
</html>
